:80 {
    root * /usr/share/caddy
    file_server {
        hide .git* Caddyfile README.md
    }
    header {
        Cache-Control max-age=3600
        
	Strict-Transport-Security max-age=30
	
        # clickjacking protection
	    X-Frame-Options DENY
    }
}
